body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

label {
    display: inline-block;
    min-width: 150px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 8px;
}

input[type="text"],
input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

span.validationError {
    color: #d9534f;
    display: block
}
